[Desktop Entry]
Type=Application
Name=CognitivePipelines
Comment=Design and execute cognitive pipelines
Exec=CognitivePipelines.AppImage
Icon=CognitivePipelines.png
Categories=Utility;Development;
Terminal=false