[Desktop Entry]
Type=Application
Name=CognitivePipelines
Comment=Design and execute cognitive pipelines
Exec=CognitivePipelines
Icon=CognitivePipelines
Categories=Utility;Development;
Terminal=false