[Desktop Entry]
Type=Application
Name=CognitivePipelines
Comment=Design and execute cognitive pipelines
Exec=CognitivePipelines.png
Icon=CognitivePipelines.AppImage
Categories=Utility;Development;
Terminal=false